# Arquivos de Sistema e de Ambiente
.DS_Store
*.pyc

# Ignorar pastas de ambientes virtuais (importante se você usa venv ou conda)
venv/
.conda/
__pycache__/

.ipynb_checkpoints

# Dados que são gerados, mas não devem ser versionados
# carros.csv
